/*Import font from google, it's the Roboto font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*the asterisk selects evry element on the page*/
* {
    box-sizing: border-box; /*this makes sure that the padding and borders are included in the elments width and height*/
}

header {
    width: 100%;
    background-color: #3f6235;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}

.name {
    padding-left: 20px;
    margin-left: 10px;
    font-weight: bold;
    margin: 0;
}

.logo {
    height: 40px;
    width: auto;
}

.logo, .name {
    display: inline-block;
    vertical-align: middle;
}

body {
    font-size: 18px;
    font-family: "Roboto";
    line-height: 1.5;
    margin: 0x;
    padding: 0;
    background-color: #202124;
    overflow-x: hidden;
    color: white;
}

.title {
    background-color: #78a064;
    text-align: center;
    font-size: 150px;
    line-height: normal;
}

a {
    color: white;
    text-decoration: none;
}

.birds {
    margin: 10px;
    padding: 0px;
    max-width: 100%;
    height: auto;
    display: block;
}

nav {
    text-align: right;
    padding-right: 20px;
}

nav a {
    margin-right: 30px;
    display: inline-block;
}

.kiwi-banner {
    width: 100%;
    max-width: 1600px;
    margin: 20px auto;
    padding: 0 40px;
    text-align: center;
}

.kiwi-banner img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 5px solid whitesmoke;
}

.main-heading {
    font-size: 30px;
    text-align: left;
    padding: 10px;
    max-width: 15%;
    border: 5px solid whitesmoke;
    display: block;
    background-color: #333333;
}

.yap {
    text-align: left;
    margin-left: 20px;
}