@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

header {
    width: 100%;
    background-color: #4f7942;
    padding: 20px;
    color: white;
}

body {
    font-size: 18px;
    font-family: "Roboto";
    line-height: 1.5px;
    margin: 10px;
    padding: 0px;
}

.title {
    background-color: #78a064;
    color: white;
    text-align: center;
    font-size: 150px;
    line-height: normal;
}

a {
    color: white;
    text-decoration: none;
}

.birds {
    margin: 10px;
    padding: 0px;
    max-width: 100%;
    height: auto;
    display: block;
}